@import url("_variables.less");

.fetured-item-content-add {
    &:hover {
        transform: scale(1.15);
        transition-duration: 1.5s;
    }
}

.header-bottom {
    .main-menu {
        li {
            a {
                &:hover {
                    color: @pink;
                    text-shadow: 0px 0px 15px @pink;
                    transition-property: text-shadow, color;
                    transition-duration: 4s, 2s;
                }
            }
        }
    }
}

.header-top {
    &-left {
        &-form {
            input[type=search] {

                &:hover {
                    border: 1px solid @gold;
                    box-shadow: 0px 0px 10px @gold inset;
                    transition-property: border, box-shadow, color;
                    transition-duration: 2s, 3s;

                    &::placeholder {
                        color: @gold;
                        transition-duration: 2s;
                    }
                }
            }
        }
    }
}