@white: #ffffff;
@pink: #f16d7f;
@black: #000000;
@light-black: #222222;
@more-light-black: #222224;
@lighter-black: #232323;
@color1: #e8e8e8;
@color2: #fbfbfb;
@darken-gray: #646464;
@gray-footer: #898989;
@color3: #b2b2b2;
@color4: #e6e6e6;
@lighten-gray: #d8d8d8;
@gray: #c0c0c0;
@color5: #eaeaea;
@color6: #f7f7f7;
@pale-black: #4a4a4a;
@color7: #5e5e5e;
@color8: #b9b9b9;
@color9: #2f2f2f;
@color_10: #bcbcbc;
@color_11: #4d4d4d;
@color_12: #4f4f4f;
@paragraphe-color: #9f9f9f;
@color_13: #7a7a7a;
@color_14: #757070;

@red: red;
@gold: #e4af48;
@100: 100%;
@50: 50%;
@10px: 10px;
@100px: 100px;
@solid: solid;
@pale-gray: #ededed;


@400: 400;
@flex: flex;
@column: column;
@center: center;
@space-between: space-between;