html,
body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}


.center {
    padding: 0 calc(50% - 570px);
}

header {
    min-height: 151px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    border: 1px solid #ececec;
    background-color: #ffffff;
}

.header__left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__left a {
    display: flex;
    align-items: center;
}

.header__left a h2,
.footer-content-logo h2 {
    width: 93px;
    height: 19px;
    color: #222222;
    font-size: 27px;
    font-weight: 300;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.68px;
    margin-left: 13px;
}

.header__left a h2 span,
.footer-content-logo h2 span {
    color: #f16d7f;
    font-weight: 400;
}

.header__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 37px;
    position: relative;
}

.search {
    border: none;
    outline: none;
    height: 38px;
    width: 38px;
    position: absolute;
    right: 0px;
    border-left: 1px solid #e8e8e8;
    background: url(img/search.png) center no-repeat;
    cursor: pointer;
}

.form__btn {
    width: 87px;
    height: 38px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    background-color: #cdcdcc;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
    color: #222222;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 32px;
    /* Text style for "B, rowse" */
    letter-spacing: 0.35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__btn>img {
    margin-left: 8px;
}

input[type=search] {
    width: 317px;
    height: 38px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    color: #a4a4a4;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.35px;
    padding: 15px;
    padding-right: 40px;
}

.float__right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    width: 130px;
    height: 38px;
    background-color: #f16d7f;
    color: #ffffff;
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    /* Text style for "M, y Accou" */
    letter-spacing: 0.38px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.btn>img {
    margin-left: 8px;
}

.float__right>img {
    margin-right: 26px;
}

.header-bottom {
    height: 51px;
}

.main-menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    height: 51px;
}

.main-menu>li {
    padding: 15px;
    position: relative;
}

.main-menu>li:hover .drop {
    display: flex;
}

.main-menu>li>a {
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    display: block;
}

.drop {
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    top: 50px;
    display: none;
}

.drop-last {
    position: absolute;
    right: 0px;
}

.drop-content {
    position: relative;
}

.drop-content p {
    position: absolute;
    left: 120px;
    bottom: 5px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 0.55px;
}

.drop img {
    padding-top: 35px;
    padding-right: 21px;
    width: 220px;
}


.drop::before {
    content: '';
    background: url(img/Shape_3.png) no-repeat;
}

.drop-flex {
    width: 235px;
    padding: 20px 25px;
}

.drop-flex h3 {
    color: #232323;
    font-size: 14px;
    font-weight: 700;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    border-bottom: 1px solid #e8e8e8;
}

.drop-ul {
    list-style: none;
}

.drop-h3 {
    padding-top: 20px;
}


.drop-ul li a {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.35px;
    color: #646464
}


.drop-ul li a:hover {
    color: #f16d7f;
}

.promo {
    min-height: 614px;
    background-image: url(img/promo.jpg), url(img/bk_promo.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: center -51px, center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.promo-content {
    border-left: 12px solid #f16d7f;
}

.promo-content>h2 {
    width: 485px;
    height: 92px;
    color: #222222;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 60px;
    letter-spacing: 1.5px;
    line-height: 42px;
    margin-bottom: -35px;
    padding-left: 12px;
}

.promo-content>h3 {
    color: #222222;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 0;
    line-height: 40px;
    padding-left: 12px;
}

.promo-content>h3>span {
    color: #f16d7f;
    letter-spacing: 1px;
}

.products {
    padding-top: 98px;
    min-height: 921px;
    display: flex;
}

.product-left {
    width: 49.12%;
    min-height: 863px;
}

.product-right {
    width: 49.12%;
    min-height: 823px;
    margin-left: 20px;
}

.product-left-item1 {
    width: 100%;
    min-height: 542px;
    background-image: url(img/product-men.jpg);
    background-repeat: no-repeat;
}

.product-left-item2 {
    margin-top: 20px;
    width: 100%;
    min-height: 261px;
    background-image: url(img/product-accesories.jpg), url(img/fon-product-accesories.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: center right, center;
}

.product-right-item1 {
    width: 100%;
    min-height: 261px;
    background-image: url(img/product-women.jpg);
    background-repeat: no-repeat;
}

.product-right-item2 {
    width: 100%;
    margin-top: 20px;
    min-height: 542px;
    background-image: url(img/product-child.jpg);
    background-repeat: no-repeat;
}

.product-header {
    background-color: #fff;
    display: inline-block;
    margin-top: 26px;
    padding: 16px 20px;
}

.product-header>h4 {
    color: #222222;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.45px;
}

.product-header>h3 {
    color: #f16d7f;
    font-size: 30px;
    letter-spacing: 0.75px;
}

.fetured {
    text-align: center;
    margin-top: 60px;
}

.fetured>h4 {
    color: #222222;
    font-size: 30px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0.75px;
}

.fetured>p {
    color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0.35px;
    margin-bottom: 60px;
}

.fetured-items,
.product-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-items {
    padding-top: 48px;
    width: 846px;
}

.fetured-item,
.product-item {
    min-height: 364px;
    min-width: 263px;
    position: relative;
}

.product-item {
    margin-bottom: 38px;
}


.fetured-item:hover,
.product-item:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
}

.product-link {
    color: #222222;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    padding-left: 15px;
    padding-top: 19px;
    display: block;
}

.product-content>p {
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    padding-left: 15px;
    padding-top: 17px;
}

.fetured-item:nth-child(5),
.fetured-item:nth-child(6),
.fetured-item:nth-child(7),
.fetured-item:nth-child(8) {
    margin-top: 39px;
}

.product-add {
    position: absolute;
    top: 97px;
    left: 70px;
    height: 39px;
    width: 123px;
    border: 1px solid #ffffff;
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    display: none;
    justify-content: center;
    align-items: center;
}

.fetured-item:hover .product-img,
.product-item:hover .product-img {
    filter: brightness(50%)
}

.product-img {
    display: block;
    text-align: center;
    width: 263px;
    height: 280px;
}

.number1 {
    background-color: #f1f7fa;
    z-index: 2;
}

.number4 {
    background-color: #e9e9e9;
    z-index: 1;
}

.number5 {
    background-color: #f1edea;
}

.number6 {
    background-color: #e9e9e9;
}

.number6 {
    background-color: #fcf8ed;
}

.number9 {
    background-color: #e9e9e9;
}

.fetured-item:hover .product-add,
.product-item:hover .product-add,
.product-item:hover .product-add-2,
.product-item:hover .product-add-3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-add:hover {
    box-shadow: 0 0 5px #fff;
}

.product-add-2 {
    display: block;
    width: 57px;
    height: 38px;
    border-radius: 3px;
    border: 1px solid #ffffff;
    position: absolute;
    top: 143px;
    left: 70px;
    display: none;
}

.product-add-3 {
    display: block;
    width: 57px;
    height: 38px;
    border-radius: 3px;
    border: 1px solid #ffffff;
    position: absolute;
    top: 143px;
    left: 135px;
    display: none;
}

.product-add-2:hover {
    box-shadow: 0 0 5px #fff;
}

.product-add-3:hover {
    box-shadow: 0 0 5px #fff;
}

.fetured a.btn {
    width: 212px;
    height: 48px;
    background-color: #f16d7f;
    margin: 0 auto;
    margin-top: 79px;
}

.offer-for-women {
    background: url(img/Background_offer.png) center no-repeat;
    min-height: 529px;
    margin-top: 113px;
    display: flex;
}

.offer-left {
    width: 67%;
    background: url(img/Layer_38.jpg) center no-repeat;
}

.offer-right {
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.offer-content>h3 {
    color: #fbfbfb;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    /* Text style for "Free Deliv" */
    letter-spacing: 0.5px;
    margin-left: 34px;
    margin-bottom: 21px;
}

.offer-content>p {
    color: #fbfbfb;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    /* Text style for "W, orldwid" */
    letter-spacing: 0.35px;
    text-align: justify;
    margin-right: 43px;
    margin-left: 34px;
}

.offer-right-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 36px;
}

.offer-right-item>img {
    position: relative;
    bottom: 50px;
}


.offer-left {
    padding-top: 146px;
    padding-left: 39px;
}

.offer-left>h2 {
    color: #ffffff;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    /* Text style for "3, 0%" */
    letter-spacing: 1.5px;
}

.offer-left>h2>span {
    color: #f16d7f;
    letter-spacing: 1.5px;
}

.offer-left>h3 {
    font-size: 32px;
    letter-spacing: 0.9px;
}

.subscribe {
    min-height: 438px;
    background: url(img/fon_subscribe.jpg) center no-repeat;
    margin-top: 97px;
    display: flex;
    justify-content: space-between;
}

.subscribe-left,
.subscribe-right {
    width: 50%;
}

.subscribe-left {
    display: flex;
    align-items: center;
    margin-top: 111px;
    margin-bottom: 224px;
}

.subscribe-left>img {
    margin-right: 28px;
    align-self: flex-start;
}

.sub-content1>p {
    color: #222224;
    font-size: 16px;
    font-style: italic;
    line-height: 26px;
    /* Text style for "“, Vestibu" */
    letter-spacing: 0.4px;
    text-align: justify;
}

.sub-content1>h4 {
    font-size: 16px;
    font-weight: 700;
    font-weight: 700;
    letter-spacing: 0.4px;
    line-height: 26px;
    color: #f16d7f;
    margin-top: 10px;
}

.sub-content1>h5 {
    color: #222224;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.3px;
    line-height: 14px;
}

.sub-content2 {
    text-align: center;
    margin-bottom: 68px;
}

.subscribe-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-content2>h3 {
    color: #222224;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.6px;
    line-height: 54px;
    text-transform: uppercase;
}

.sub-content2>h4 {
    text-transform: uppercase;
    color: #222224;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
    line-height: 24px;
    margin-bottom: 35px;
}

input[type=email] {
    width: 334px;
    height: 46px;
    border-radius: 23px 0 0 23px;
    background-color: #e1e1e1;
    opacity: 0.67;
    color: #222224;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0.35px;
    padding-left: 20px;
}

input[type=submit] {
    width: 104px;
    height: 50px;
    border-radius: 0 23px 23px 0;
    background-color: #f16d7f;
    margin-left: -5px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    /* Text style for "Subscribe" */
    letter-spacing: 0.35px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    min-height: 79px;
    background-color: #e6e6e6;
    align-items: center;
}

.social-icons {
    display: flex;
    width: 192px;
    justify-content: space-between;
}

.icon {
    width: 32px;
    height: 32px;
    background-color: #fff;
    display: block;
}

.fb {
    background: url(img/fb.png) center no-repeat, #fff;
}

.tw {
    background: url(img/tw.png) center no-repeat, #f16d7f;
}

.in {
    background: url(img/in.png) center no-repeat, #fff;
}

.rid {
    background: url(img/rid.png) center no-repeat, #fff;
}

.gl {
    background: url(img/gl.png) center no-repeat, #fff;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 109px;
    margin-bottom: 89px;
}

.footer-content {
    width: 38%;
}

.footer-content-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer-content>p {
    color: #898989;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.35px;
    text-align: justify;
}

.footer-content>p {
    margin-top: 40px;
}

.footer-menu {
    width: 62%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 63px;
}

.menu-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.menu-header>h3 {
    color: #f16d7f;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.45px;
    width: 33.3%;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.menu>ul {
    list-style-type: none;
    width: 33.3%;
}

.menu>ul>li>a {
    color: #898989;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    display: block;
}

.menu>ul>li:not(:first-child) {
    margin-top: 30px;
}

.new-arrivals {
    min-height: 148px;
    background-color: #f8f3f4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new-arrivals>h1 {
    color: #f16d7f;
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
}

.breadcrumbs>a {
    color: #636363;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    margin-left: 4px;
}

.breadcrumbs>a:not(:last-child)::after {
    content: '/';
    margin-left: 4px;
}

a.active-bread {
    color: #f16d7f;
    font-weight: 700;
}

.box {
    display: flex;
    justify-content: space-between;

}

.product-sidebar {
    min-width: 243px;
    padding-top: 60px;
}

.details-product {
    padding-top: 10px;
    padding-left: 11px;
    min-height: 37px;
    border-bottom: 1px solid #ebebeb;
    border-left: 5px solid #ef5b70;
    margin-bottom: 18px;

}

.details-product>summary {
    display: block;
    color: #ef5b70;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

summary::-webkit-details-marker {
    display: none;
}

summary::after {
    content: '\25B6';
    padding-left: 0.5em;
    color: red;
    font-size: 10px;
}

details[open]>summary::after {
    content: '\25BC';
}

.details-product ul {
    list-style: none;
    padding-top: 22px;
}

.details-product ul li a {
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
    display: block;
}

.content-products {
    min-width: 864px;
    padding-top: 60px;
}

.product-filter {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.filter-item {
    padding-top: 10px;
}

.filter-item>h4 {
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    padding-bottom: 25px;
}

.product-attribute {
    width: 176px;
    height: 39px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-attribute>a:not(:nth-child(3)):not(:nth-child(6))::after {
    content: '|';
    padding-left: 10px;
    color: #dfdfdf;
    font-style: 13px;
}

.product-attribute>a {
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

.product-size {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 236px;
    height: 39px;
}

.product-size label:not(:first-child) {
    padding-left: 25px;
    margin-bottom: 8px;
}

.product-range {
    width: 262px;
    height: 39px;
}

.product-range input[type="range"] {
    width: 100%
}

.product-price {
    padding-top: 2px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.product-sort {
    margin-top: 45px;
    min-height: 50px;
    width: 100%;
    background-color: #f3f3f3;
}